*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  scroll-behavior: smooth;
  font-family: 'Fanwood Text', serif;
  font-weight: 100;
  font-size: 16px;
  list-style: none;
  text-decoration: none;
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
}

:root{
  --text-color: #ffff;
  --title-color: #4ADE80;
  --btn-color: #00eeff;
  --bg-color: #1F242D;
  --logo-color: #51DC51;
  --bg-color-2: #323946;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.btn{
  margin: auto;
  color: var(--bg-color);
  background-color: var(--btn-color);
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: 30px;
  font-size: clamp(1.8rem,max(4vw,2vh),9rem);
}

.btn:hover{
  box-shadow: 0 0 1rem #0ef;
}